body{
	font-family: 'Archivo', sans-serif;
}
#logo{
	position: absolute;
	left: 10%;
	top: 32px;
}
#header{
	position: absolute;
	left: 0px;
	top: 92px;
}
nav{
	position: absolute;
	top: 8%;
	left: 10%;
	display: inline;
}
ul {
    list-style-type: none;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    background-color: black;
    width: 950px;
    font-size: 16px;
    font-weight: 500;
    transition: width 2s;
}
ul:hover{
	width: 1327px;
}

li {
  float: left;
  font-size: 12px;
  font-weight: 500;
  transition: font-size 2s;
}
li:hover{
	font-size: 15px;
	font-weight: 800;
}

li a, .over{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .list:hover{
  background-color: yellow;
  color: black;
}

li.list {
  display: inline-block;
}

.menu{
  display: none;
  position: absolute;
  background-color: #222931;
  min-width: 160px;

}

.menu a{
  color: white
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.list:hover .menu{
  display: block;
}
#arrow{
	color: white;
}
#arrow:hover{
	color: black;
}
#banner1:hover{
	width: 320px;
}
#test{
	background-image: url('img/banner-1.jpg');
	width: 300px;
	height: 220px;
	position: absolute;
	top: 620px;
	left: 260px;
	font-size: 32px;
	font-weight: 600;
}
#geschiedenis{
	width: 300px;
	height: 220px;
	background-color: rgba(34,41,49,0.8);
	display: none;
	line-height:200px;
	text-align:center;
	color: white;
}

#test:hover > #geschiedenis{
	display: block;
}
#banner2{
	background-image: url('img/banner-2.jpg');
	width: 300px;
	height: 220px;
	position: absolute;
	top: 620px;
	left: 600px;
	font-size: 32px;
	font-weight: 600;
	width: 300px;
}
#deals1{
	width: 300px;
	height: 220px;
	background-color: rgba(34,41,49,0.8);
	display: none;
	line-height:200px;
	text-align:center;
	color: white;
}
#banner2:hover > #deals1{
	display: block;
}
#banner3{
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 32px;
	font-weight: 600;
	width: 1px;
	transition: width 1s;
}
#diensten33{
	background-image: url('img/banner-3.jpg');
	width: 300px;
	height: 220px;
	position: absolute;
	top: 620px;
	left: 940px;
	font-size: 32px;
	font-weight: 600;
}
#banner33{
	width: 300px;
	height: 220px;
	background-color: rgba(34,41,49,0.8);
	display: none;
	line-height:200px;
	text-align:center;
	color: white;
}
#diensten33:hover > #banner33{
	display: block;
}
#yellow{
	display: inline;
	position: absolute;
    overflow: hidden;
    background-color: yellow;
    width: 1519px;
    top: 900px;
    left: 0px;
    height: 130px;
}

#text1{
	position: absolute;
	top: 30px;
	left: 220px;
	font-size: 30px;
}
#text2{
	position: absolute;
	top: 56px;
	left: 595px;
	font-size: 15px;
}
#knop{
	position: absolute;
	left: 1000px;
	padding: 15px;
	top: 40px;
	width: 230px;
	background-color: white;
}
#knop:hover{
	color: white;
	background-color: grey
}
#footer{
	position: absolute;
	left: 0px;
	height: 200px;
	top: 1100px;
	width: 1519px;
}
#yellow1{
	display: inline;
	position: absolute;
    overflow: hidden;
    background-color: yellow;
    width: 320px;
    top: 1250px;
    left: 250px;
    height: 110px;
}
#yellow1:hover{
	background-color: grey;
	color: white;
}
#yellow2{
	display: inline;
	position: absolute;
    overflow: hidden;
    background-color: yellow;
    width: 320px;
    top: 1250px;
    left: 600px;
    height: 110px;
}
#yellow2:hover{
	background-color: grey;
	color: white;
}
#yellow3{
	display: inline;
	position: absolute;
    overflow: hidden;
    background-color: yellow;
    width: 320px;
    top: 1250px;
    left: 950px;
    height: 110px;
}
#yellow3:hover{
	background-color: grey;
	color: white;
}
#hand{
	position: absolute;
	top: 20px;
	left: 30px;
	font-size: 70px;
}

#footer1{
	position: absolute;
	left: 0px;
	height: 200px;
	top: 2000px;
	width: 1519px;
}
#deals{
	position: absolute;
	font-size: 34px;
	font-weight: 700;
	top: -10px;
	left: 140px;
}
#bekijk{
	position: absolute;
	font-size: 16px;
	font-weight: 700;
	top: 50px;
	left: 140px;
}
#case{
	position: absolute;
	top: 20px;
	left: 30px;
	font-size: 70px;
}
#diensten{
	position: absolute;
	font-size: 34px;
	font-weight: 700;
	top: -10px;
	left: 120px;

}

#bekijk1{
	position: absolute;
	font-size: 16px;
	font-weight: 700;
	top: 50px;
	left: 115px;
}

#envelop{
	position: absolute;
	top: 20px;
	left: 30px;
	font-size: 70px;
}
#contact{
	position: absolute;
	font-size: 34px;
	font-weight: 700;
	top: -10px;
	left: 120px;
}
#contact1{
	position: absolute;
	font-size: 16px;
	font-weight: 700;
	top: 50px;
	left: 120px;
}
#lijntje{
	display: inline;
	position: absolute;
    overflow: hidden;
    background-color: white;
    border:	solid DarkGray 1px;
    width: 1020px;
    top: 1440px;
    left: 250px;
    height: 2px;
}
#over1{
	position: absolute;
	top: 1480px;
	left: 240px;
	font-size: 32px;
	font-weight: 600;
}
#lorem{
	position: absolute;
	top: 1590px;
	left: 240px;
	width: 500px;
}
#contact2{
	position: absolute;
	top: 1480px;
	left: 950px;
	font-size: 32px;
	font-weight: 600;
}
#gps{
	position: absolute;
	top: 1605px;
	left: 950px;
	font-size: 32px;
}
#adress{
	position: absolute;
	top: 1590px;
	left: 995px;
}
#adress1{
	position: absolute;
	top: 1610px;
	left: 995px;
}
#mobiel{
	position: absolute;
	top: 1665px;
	left: 951px;
	font-size: 32px;
	font-size: 36px;
}
#nummer{
	position: absolute;
	top: 1657px;
	left: 994px;
}
#envelop1{
	position: absolute;
	top: 1725px;
	left: 946px;
	font-size: 32px;
	font-size: 36px;
}
#mail{
	position: absolute;
	top: 1720px;
	left: 994px;
	color: black;
}
#black{
	position: absolute;
	background-color: black;
	top: 1950px;
	width: 1519px;
	height: 50px;
	left: 0px;
}
#naam{
	position: absolute;
	right: 100px;
	color: white;
}
#link5{
	color: white;
}
#link8{
	color: black;
}
#link8:hover{
	color: white;
}
#link9{
	color: black;
}
#link9:hover{
	color: white;
}